/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@theme {
  --color-brand-primary: #1A3C5E;
  --color-brand-secondary: #C49A1A;
  --color-brand-tertiary: #2A7A4F;
  --color-brand-neutral: #1C1C1C;
}

* {
  font-family: "Inter", sans-serif;
}